.card {
    padding: 60px;
}

.col-sm {
    margin: 10px;
}

.btn-primary {
    padding: 10px;
    font-size: 20px;
}

input.col-4 {
    border-radius: 5px;
    text-align: center;
}

.heading {
    font-size: 15px;
}